@import "./_variables";
@import "./_functions";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: $lightGrayDarker;

	&:hover {
		color: $lightGrayHigher;
	}

	&[title*="webhost"] {
		display: none;
	}
}

.breadcrumb li {
	gap: .5rem;
}

.card-header-icon a {
	color: inherit;

	&:hover {
		color: inherit;
	}
	
}

li {
	list-style: none;
}

::-webkit-scrollbar-track {
	border-radius: ptr(10);
	background: transparent;
}

::-webkit-scrollbar {
	width: ptr(8);
	background: transparent;
}

::-webkit-scrollbar-thumb {
	border-radius: ptr(2);
	background: #485fc780;

	&:hover {
		background: #485fc780;
	}
}

::selection {
	background: #485fc7;
	color: #fff;
}

.select2-container--default .select2-selection--multiple, .select2-container--default 
.select2-results>.select2-results__options, 
span.select2-dropdown.select2-dropdown--below,
span.select2-dropdown.select2-dropdown--above {
	width: 30rem !important;
}

input.select2-search__field {
	text-align: center;
}

.select2-container--default .select2-results__option[aria-disabled="true"] {
	color: #ccc;
	cursor: url("https://api.iconify.design/gg/block.svg?color=%23a0aec0&width=25&height=25"), not-allowed;

}

 .tooltip {
 	position: relative;
 	background: transparent;
 	color: inherit;
 	cursor: pointer;
	

 	&[data-tooltip] {
 		&::before {
 			content: attr(data-tooltip);
 			position: absolute;
 			pointer-events: none;
 			opacity: 0;
 			color: inherit;
 			font-size: 14px;
 			line-height: 1.2;
 			padding: 6px 12px;
 			white-space: nowrap;
 			border-radius: 4px;
 		}

 		&[data-placement="top"]::before {
 			bottom: 100%;
 			left: 50%;
 			transform: translateX(-50%);
 			margin: 1rem 0;
 		}

 		&[data-placement="bottom"]::before {
 			top: 100%;
 			left: 50%;
 			transform: translateX(-50%);
 			margin: 1rem 0;
 		}

 		&[data-placement="left"]::before {
 			top: 50%;
 			right: 100%;
 			transform: translateY(-50%);
 			margin: 0 1rem;
 		}

 		&[data-placement="right"]::before {
 			top: 50%;
 			left: 100%;
 			transform: translateY(-50%);
 			margin: 0 1rem;
 		}

 		&:hover::before {
 			pointer-events: auto;
 			transition: opacity 0.7s ease-in-out;
 			opacity: 1;
 			z-index: 2;
 		}
 	}
 }
 

.is-full-vh {
	min-height: 100vh;
}

.has-position-fixed-on-top {
	position: fixed;
	top: 0;
	left: 0;
}

.is-flex-center {
	@include flexCenter(center);
}

.is-flex-column {
	@include flexCenterCol;
}

.w-100 {
	width: 100%;
}

.mt-10 {
	margin-top: 5rem;
}

.mb-\.1 {
	margin-bottom: 0.1rem;
}

.mb-\-\.2 {
	margin-bottom: -0.2rem;
}

.is-gap-2 {
	gap: 2rem;
}

.d-none,
.is-hidden,
.removeMessage {
	display: none !important;
}

.d-block {
	display: block;
}

.has-background-transparent,
.is-transparent {
	background: transparent;
}

.sweet_text {
	font-weight: bold;
}

html {
	overflow: overlay;
}

body {
	height: 100%;
	width: 100%;
	font-family: "Montserrat", sans-serif;
}

.banner {
	height: 15rem;

	&:before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 15rem;
		background: url("../img/background.jpg") no-repeat center / cover;
		opacity: 0.1;
		z-index: 0;
	}
}

.hero-body,
.section {
	z-index: 1;
}

.material-symbols-outlined,
.material-symbols {
	font-size: 1rem;
}

.job-link:visited {
	color: #cacaca;
}

.about-text {
	text-align: justify;
	line-height: 2rem;
}

.removeFilter {
	cursor: pointer;
	transition: scale 0.5 ease-in-out;

	&:hover {
		scale: 1.2;
		transition: scale 0.5 ease-in-out;
	}
}

.showMessage {
	@include flexCenter(space-evenly);
	border-radius: 1rem;
	max-width: 20rem;
	margin: 0 auto;
}

nav {
	background: rgba(204, 204, 204, 0.1);
	box-shadow: 1px 1px 5px #cacaca;
	backdrop-filter: blur(25px);
	z-index: 9;
}

.notification {
	>.rollback {
		position: absolute;
		right: 0.5rem;
		top: 0.5rem;
		cursor: pointer;
		transition: scale 0.5 ease-in-out;

		&:hover {
			scale: 1.2;
			transition: scale 0.5 ease-in-out;
		}
	}
}

.level-item {
	.iconify {
		margin-bottom: -.1rem;
	}
}

@media screen and (max-width: 1024px) {
	.navbar-home {
			display: flex;
			justify-content: space-around;
			width: 80vw;
		}
}

@media screen and (max-width: 768px) {
	.navbar-home {
			@include contentCenter;
			align-items: baseline;
			flex-direction: column;
		}
}


@media screen and (max-width: 500px) {
	.card-footer-item {
		font-size: 14px;
	}

	.item-menu {
		@include flexCenter(center);
		flex-wrap: wrap;

		.level-item {
			&:last-of-type {
				align-self: baseline;
			}
		}
	}

	.container {
		.columns {
				display: flex;
		
				.column {
					@include flexCenter(center);
					width: 100%;
				}
		
			}
	}

}


// Login

.loginSection {
	position: relative;
	min-height: 100vh;
	width: 100%;
	overflow: hidden;

	&:after {
		@include backgroundBefore(fixed, .4, url('../../public/img/login_background.jpg') fixed no-repeat center / cover)
	}

	.backToHome {
		position: absolute;
		left: 2rem;
		top: 2rem;
		z-index: 2;
		.iconify {
			color: #fff;
			font-size: 1.5rem;
			transition: scale .5 ease-in-out;

			&:hover {
				scale: 1.2;
				transition: scale .5 ease-in-out;
			}
		}
	}

	.wrapperLogin {
		position: relative;
		background: rgba(72, 95, 199, .8);
		@include flexCenter(center);
		min-height: 100vh;
		z-index: 1;
	}

	.boxLogin {
		@include flexCol;
		width: ptr(350);
		padding: 0 ptr(15);

		span {
			@include contentCenter;
			color: #fff;
			font-size: small;
			padding: ptr(10) 0;
		}

		header {
			@include contentCenter;
			color: #fff;
			font-size: ptr(30);
			padding: ptr(10) 0;
		}

		.input-field {
			@include flexCol;

			input {
				height: ptr(45);
				width: 100%;
				border: none;
				outline: none;
				border-radius: ptr(30);
				color: #fff;
				padding: 0 0 0 ptr(45);
				background: rgba($color: #fff, $alpha: .4);
				z-index: 2;

				&:disabled {
					cursor: not-allowed;
					color: rgba($color: #fff, $alpha: .5);
				}

				@include placeholder {
					color: rgba($color: #fff, $alpha: .5);
				}
			}

			i {
				position: relative;
				top: ptr(-30);
				left: 85%;
				color: #fff;
				z-index: 2;

				&:hover {
					cursor: pointer;
				}
			}

			.submit {
				border: none;
				outline: none;
				border-radius: ptr(30);
				font-size: ptr(15);
				height: ptr(45);
				width: 100%;
				background: rgba($color: #fff, $alpha: .7);
				color: rgba($color: #111, $alpha: .7);
				cursor: pointer;
				transition: .3s ease;
				padding: 0;

				&:hover {
					box-shadow: 1px 5px 7px 1px rgba($color: #fff, $alpha: .2);
				}
			}

		}

		.bottom {
			@include flexCenterOptionallyCol(space-between);
			font-size: small;
			margin: 2rem 0;

			.links {
				color: #ffff;

				&:hover {
					color: #ddd;
				}
			}

		}

	}

}


.error-wrapper .error-message {
	margin-top: 0.5rem;
}

.control:not(.is-horizontal) .select {
	width: 100%;
}

.error-message {
	margin: 1rem 0;
	background-color: #ffe3e3;
	color: #e60000;
	padding: 0.5rem;
	border-radius: 0.25rem;
}

.mt-8 {
	margin-top: 3.5rem;
}

.is-fixed {
	position: fixed;
	right: 5rem;
	bottom: -30rem;
	z-index: 5;
	transition: bottom ease-in-out 1.5s;
}