@import "./_variables";
@import "./_functions";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: $lightGrayDarker;
	&:hover {
		color: $lightGrayHigher;
	}
}

li {
	list-style: none;
}

::-webkit-scrollbar-track {
	border-radius: pxToRem(10);
	background: transparent;
}

::-webkit-scrollbar {
	width: pxToRem(8);
	background: transparent;
}

::-webkit-scrollbar-thumb {
	border-radius: pxToRem(2);
	background: #485fc780;
	&:hover {
		background: #485fc780;
	}
}

::selection {
	background: #485fc7;
	color: #fff;
}

.is-full-vh {
	min-height: 100vh;
}

.has-position-fixed-on-top {
	position: fixed;
	top: 0;
	left: 0;
}

.is-flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.w-100 {
	width: 100%;
}

.mt-10 {
	margin-top: 5rem;
}

.mb-\.1 {
	margin-bottom: .1rem;
}

.is-gap-2 {
	gap: 2rem;
}

.d-none {
	display: none;
}

.d-block {
	display: block;
}

.has-background-transparent {
	background: transparent;
}

html {
	overflow: overlay;
}

body {
	height: 100%;
	width: 100%;
	font-family: "Montserrat", sans-serif;
}

.material-symbols-outlined,
.material-symbols {
	font-size: 1rem;
}

.job-link:visited {
	color: #cacaca;
}

nav {
	background: rgba(204, 204, 204, .1);
	box-shadow: 1px 1px 5px #cacaca;
	backdrop-filter: blur(25px);
}