@import "./_variables";
@import "./_functions";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: $lightGrayDarker;
	&:hover {
		color: $lightGrayHigher;
	}
}

li {
	list-style: none;
}

::-webkit-scrollbar-track {
	border-radius: pxToRem(10);
	background-repeat: transparent;
}

::-webkit-scrollbar {
	width: pxToRem(8);
	background-clip: transparent;
}

::-webkit-scrollbar-thumb {
	border-radius: pxToRem(2);
	background: #485fc780;
	&:hover {
		background: #485fc780;
	}
}

::selection {
	background: #485fc7;
	color: #fff;
}

.is-full-vh {
	min-height: 100vh;
}

.is-gap-2 {
	gap: 2rem;
}

.d-none {
	display: none;
}

.d-block {
	display: block;
}

.has-background-transparent {
	background: transparent;
}

html {
	overflow: overlay;
}

body {
	height: 100%;
	width: 100%;
	font-family: "Montserrat", sans-serif;
}

.material-symbols-outlined,
.material-symbols {
	font-size: 1rem;
}
